@font-face {
  font-family: Maison Neue Medium;
  src: url(https://s.dyno.gg/web-assets/fonts/Maison%20Neue%20Medium.otf);
}
html,
body {
  background-color: #161E2D;
  font-family:Maison Neue Medium;
  color: white;
}

h1 {
  font-size: 32px;
}