@font-face {
  font-family: Maison Neue Bold;
  src: url(https://s.dyno.gg/web-assets/fonts/Maison%20Neue%Medium.otf);
}
html,
body {
  background-color: #161E2D;
  font-family:Maison Neue Bold;
  color: white;
}