<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dyno™️ #code-talk</title>
    <base href="{{ site.url }}{{ site.baseurl }}/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="https://s.dyno.gg/web-assets/landing/logo.png"/>
  </head>
  <body>
    <div id="navbar">
      <a href=""><img src="https://s.dyno.gg/web-assets/landing/logo.png"></a>
      <a href="">Home</a>
      <a href="resources">Resources</a>
    </div>
    <div id="container">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      This page is not managed by Dyno™️ developers. If there are any issues, please contact Bsian. If you wish to contribute to the website, please head to the <a href="https://github.com/bsian03/dyno-code-talk">GitHub repository.</a>
    </footer>
  </body>
</html>