<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Dyno™️ #code-talk</title>
    <base href="{{ site.url }}{{ site.baseurl }}/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="https://s.dyno.gg/web-assets/landing/logo.png" />
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/solarized-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>
    <div id="navbar">
      <a href=""><img src="https://s.dyno.gg/web-assets/landing/logo.png"></a>
      <a href="">Home</a>
      <a href="resources">Resources</a>
      <a href="references">References</a>
    </div>
    <div id="container">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      This page is not managed by Dyno™️ developers. If there are any issues, please contact Bsian. If you wish to
      contribute to the website, please head to the <a href="https://github.com/bsian03/dyno-code-talk">GitHub
        repository.</a>
    </footer>
  </body>
  <script>
    const el = document.getElementsByTagName('code')
    console.log(el[0]);
    for (const e in el) {
      if (isNaN(e)) continue;
      if (el[e].parentElement instanceof HTMLPreElement) continue;
      if (el[e].innerHTML.startsWith('##')) {
        el[e].innerHTML = el[e].innerHTML.substr(2);
        continue;
      };
      console.log(e);
      el[e].innerHTML = el[e].innerHTML.replace(/(\/.+\/)([gmiyus]+)?/g, (full, g1,g2) => `<span style="color:#D30102">${g1}</span>${g2 !== undefined ? `<span style="color:#859900">${g2}</span>` : ''}`)
    }
  </script>

</html>