<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Dyno™️ #code-dev</title>
    <base href="{{ site.url }}{{ site.baseurl }}/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/anchorlink.css">
    <link rel="icon" type="image/png" href="https://s.dyno.gg/web-assets/landing/logo.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/solarized-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
      var anchorForId = function (id) {
        var anchor = document.createElement("a");
        anchor.className = "header-link";
        anchor.href = "{{ site.baseurl }}{{ page.url }}#" + id;
        anchor.innerHTML = "<i class=\"fa fa-link\"></i>";
        return anchor;
      };

      var linkifyAnchors = function (level, containingElement) {
        var headers = containingElement.getElementsByTagName("h" + level);
        for (var h = 0; h < headers.length; h++) {
          var header = headers[h];

          if (typeof header.id !== "undefined" && header.id !== "") {
            header.appendChild(anchorForId(header.id));
          }
        }
      };

      document.onreadystatechange = function () {
        if (this.readyState === "complete") {
          var contentBlock = document.getElementById("container");
          if (!contentBlock) {
            return;
          }
          for (var level = 2; level <= 6; level++) {
            linkifyAnchors(level, contentBlock);
          }
        }
      };
    </script>
  </head>

  <body>
    <div id="navbar">
      <a href=""><img src="https://s.dyno.gg/web-assets/landing/logo.png"></a>
      <a href="">Home</a>
      <a href="resources">Resources</a>
      <a href="references">References</a>
      <a style="float: right;" href="https://dyno.gg/"><img src="assets/dyno_logo.png"></a>
      <a style="float: right;" href="https://dyno.gg/status/">Status</a>
      <a style="float: right;" href="https://wiki.dyno.gg/">Wiki</a>
    </div>
    <div id="container">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      This page is not managed by Dyno™️ developers. If there are any issues, please contact Bsian. If you wish to
      contribute to the website, please head to the <a href="https://github.com/bsian03/dyno-code-dev">GitHub
        repository</a>.
    </footer>
  </body>
  <script>
    const el = document.getElementsByTagName('code')
    for (const e in el) {
      if (isNaN(e)) continue;
      if (el[e].parentElement instanceof HTMLPreElement) continue;
      if (el[e].innerHTML.startsWith('##')) {
        el[e].innerHTML = el[e].innerHTML.substr(2);
        continue;
      };
      el[e].innerHTML = el[e].innerHTML.replace(/(\/.+\/)([gmiyus]+)?/g, (full, g1, g2) => `<span style="color:#D30102">${g1}</span>${g2 !== undefined ? `<span style="color:#859900">${g2}</span>` : ''}`)
    }
  </script>

</html>